#mama {
    text-align: center;
}
 #style{
    color: red;
    text-align: center;
}
h2{ 
    color:blue;
}
#me{
    background-color: #9d48ec;
    text-align: center;
    color: red;
}
#kaka { background-color: rgb(233, 238, 157);
    text-align: center;
}
#kaka1{
    color: rgb(61, 114, 228);
    font-family: 'Times New Roman', Times, serif;
}
#kaka2{
    color:rgb(221, 56, 56) ;
    font-family: 'Times New Roman', Times, serif;
}
#kaka3{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}